! ~/.Xresources

!### C-preprocessing for variable font per machine
!### Use for different font sizes for laptop/desktop
!### Assumed to be retina if 2000+ height
#ifndef SIZE
#ifndef DPI
#if HOST == trsh 
#define SIZE 20
#define DPI 144
#else
#define SIZE 16
#define DPI 96
#endif
#endif
#endif

! urvxt setup
URxvt*perl-ext-common:  resize-font,selection-to-clipboard,matcher
URxvt*font:             xft:Misc Tamsyn:pixelsize=SIZE:style=Regular:antialias=true, \
                        xft:Inconsolata:pixelsize=SIZE:style=Regular:antiaalias=true
URxvt*boldFont:         xft:Misc Tamsyn:pixelsize=SIZE:style=Bold:antialias=true, \
                        xft:Inconsolata:pixelsize=SIZE:style=Bold:antiaalias=true
URxvt*url-launcher:     /usr/bin/firefox 
!URxvt*urlLauncher:     /usr/bin/firefox
URxvt*scrollBar:        false
!URxvt*scrollBar_right:  true
URxvt.iso14755:         False
URxvt*dynamicColors:    on
URxvt.internalBorder:   10
URxvt.underlineURLs:    true
URxvt.matcher.button:   1
!URxvt.copyCommand:      xclip -i -selection clipboard
!URxvt.pasteCommand:     xclip -o -selection clipboard

! urxvt scrolling setup - up and down 10 lines
URxvt.keysym.Shift-Up: command:\033]720;10\007
URxvt.keysym.Shift-Down: command:\033]721;10\007

! rofi setup
rofi.color-enabled:         true
rofi.separator-style:       solid
rofi.font:                  Misc Tamsyn SIZE
rofi.bw:                    2
rofi.columns:               1
rofi.yoffset:               0
rofi.fake-transparency:     false
rofi.hide-scrollbar:        true
!rofi.opacity:               90

rofi.location:              0
rofi.width:                 30
rofi.lines:                 10
rofi.fixed-num-lines:       true

! general font setup for applications ignoring fontconfig
! https://wiki.archlinux.org/index.php/Font_configuration#Fontconfig_configuration
Xft.autohint:               0
Xft.antialias:              1
Xft.hinting:                true
Xft.hintstyle:              hintfull
Xft.rgba:                   rgb
Xft.lcdfilter:              lcddefault
Xft.dpi:                    DPI
