! urvxt setup
URxvt*perl-ext-common:  resize-font,selection-to-clipboard
URxvt*font:             xft:Misc Tamsyn:pixelsize=16:style:Regularantialias=false, \
                        xft:Inconsolata:pixelsize=16:style:Regular:antiaalias=false
URxvt*boldFont:         xft:Misc Tamsyn:pixelsize=16:style:Bold=false, \
                        xft:Inconsolata:pixelsize=16:style:Bold:antiaalias=false
!URxvt*font:             xft:iosevka:size=12:antialias=true
!URxvt*boldFont:         xft:iosevka:size=12:style=Bold:antialias=true
!URxvt*italicFont:       xft:iosevka:size=12style=Italic:antialias=true
URxvt*urlLauncher:      firefox  
URxvt*scrollBar:        false
URxvt*scrollBar_right:  true
URxvt.iso14755:         False
URxvt*dynamicColors:    on
URxvt.internalBorder:   10
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard

! urxvt scrolling setup - up and down 10 lines
URxvt.keysym.Shift-Up: command:\033]720;10\007
URxvt.keysym.Shift-Down: command:\033]721;10\007

! rofi setup
rofi.color-enabled:         true
rofi.separator-style:       solid
rofi.font:                  Misc Tamsyn 14
rofi.bw:                    2
rofi.columns:               1
rofi.yoffset:               0
rofi.fake-transparency:     false
rofi.hide-scrollbar:        true
!rofi.opacity:               90

rofi.location:              0
rofi.width:                 30
rofi.lines:                 10
rofi.fixed-num-lines:       true

! general font setup for applications ignoring fontconfig
! https://wiki.archlinux.org/index.php/Font_configuration#Fontconfig_configuration
Xft.autohint: 0
Xft.antialias: 0
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
