! urvxt setup
URxvt*perl-ext-common:  resize-font,selection-to-clipboard
URxvt*font:             xft:iosevka:size=12:antialias=true:hinting=true
URxvt*boldFont:         xft:iosevka:size=12:style=Bold:antialias=true:hinting=true
URxvt*italicFont:       xft:iosevka:size=12style=Italic:antialias=true:hinting=true
URxvt*urlLauncher:      firefox  
URxvt*scrollBar:        false
URxvt*scrollBar_right:  true
URxvt.iso14755:         False
URxvt*dynamicColors:    on

! urxvt clipboard setup and avoid printing eg. ^A to terminal 
URxvt.iso14755: false
URxvt.iso14755_52: false
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
!URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! urxvt scrolling setup - up and down 10 lines
URxvt.keysym.Shift-Up: command:\033]720;10\007
URxvt.keysym.Shift-Down: command:\033]721;10\007

! rofi setup
rofi.color-enabled:         true
rofi.separator-style:       solid
rofi.font:                  iosevka 14
rofi.bw:                    2
rofi.columns:               1
rofi.yoffset:               0
rofi.fake-transparency:     false
rofi.hide-scrollbar:        true
rofi.opacity:               90

rofi.location:              0
rofi.width:                 30
rofi.lines:                 10
rofi.fixed-num-lines:       true

! general font setup for applications ignoring fontconfig
! https://wiki.archlinux.org/index.php/Font_configuration#Fontconfig_configuration
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
