/* Import the CSS file.
Change 'ecly' to your username. */
@import url('file:///home/ecly/.cache/wal/colors.css');
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    /* No longer using coloring */
    /* --foreground-alt: var(--color2); */
    /* --foreground-alt-alt: var(--color4); */
    --font: "Terminus (TTF)";

    /* for thinner tabs */
	/* --tab-line-color: none !important; */
	--toolbarbutton-border-radius: 0px !important;

    /* removes inner padding of all toolbar buttons */
    /* sadly this option messes with noscript */
	/* --toolbarbutton-inner-padding: -1px !important; */

    /* decreases tab height (only works in pair with "--toolbarbutton-inner-padding") */
	--tab-min-height: 22px !important;
}

/* set font size for everything */
{
	font-size: 14px !important;
}

/* --- Urlbar settings --- */
/* Hide (i) in URL bar */
#identity-icon {
	width: 0 !important;
}
/* Adjust lock icon to be closer to edge */
#identity-box {
	padding-inline-start: 2px !important;
}
/* Bookmark padding */
/* toolbarbutton.bookmark-item:not(.subviewbutton) { */
/* 	padding: 1px 6px !important; */
/* } */


/* --- General sizing settings of header panel --- */
/* adjusts the padding and margin of the URL box buttons */
:root .urlbar-icon {
	width: 20px !important;
	height: 20px !important;
	padding: 4px !important;
}

/* adjusts the padding and margin of the icons before the URL */
#identity-icon, #tracking-protection-icon, #connection-icon, .notification-anchor-icon, #blocked-permissions-container > .blocked-permission-icon, #extension-icon {
	width: 14px !important;
	height: 14px !important;
	margin-inline-start: 4px !important;
}

/* Removes the folder icons from bookmark folders in navbar */
.bookmark-item .toolbarbutton-icon {
	display: none;
}

/* hides forward button */
#forward-button {
	display: none !important;
}

/* align backbutton width with tree style compact tab width */
#back-button {
	width: 28px !important;
}

/* reduces the margin of the url bar */
#urlbar-container {
	margin: -4px !important;
}

/* url bar border settings */
#urlbar, .searchbar-textbox {
	border: 0px solid hsla(240,5%,5%,.25) !important;
}

/* --- Customize the context menu --- */
/* Remove all silly margins and set /font everywhere */
#contentAreaContextMenu *, #placesContext *, .textbox-contextmenu *, #tabContextMenu * {
    font-family: var(--font) !important;
}

/* Specs for submenus and */
/* General menu item specs */
menu, menuitem{
    font-family: var(--font) !important;
}

/* This affects eg. dropdowns from bookmarks folders, and context menus */
menuitem > * {
    font-family: var(--font) !important;
}

/* Disable some context menu buttons */
#context-back,
#context-forward,
#context-reload,
#context-stop,
#context-bookmarkpage
{display:none !important; }

/* --- Autocomplete dropdown --- */
.autocomplete-richlistitem {
    font-family: var(--font) !important;
}

/* urls in autocomplete dropdopwn */
.ac-url-text, .ac-action-text {
    font-family: var(--font) !important;
}

/* separator between item and url for autocomplete */
.ac-separator-text{
    font-family: var(--font) !important;
}

/* Hide the bottom two bars of autocomplete and bookmark indicator */
.search-panel-one-offs, .search-one-offs, .ac-type-icon {
    display: none !important;
}
