/* Import the CSS file.
Change 'ecly' to your username. */
@import url('file:///home/ecly/.cache/wal/colors.css');
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root {
    --foreground-alt: var(--color5);
    --foreground-alt-alt: var(--color9);
    --font: 'xos4 Terminus';
}

/* --- General coloring of header panel --- */
/* text area coloring */
textarea, input, select {
    background-color: var(--background) !important;
    color: var(--foreground) !important;
    -moz-appearance: none !important;
    border-color: var(--background);
    font-family: var(--font);
}

/* url container color */
#urlbar {
    background-color: var(--background) !important;
    color: var(--foreground) !important; 
}

/* Color for firefox panel (tabs background and background behind url bar) */
menubar, toolbar, nav-bar, #TabsToolbar > *{
    font-family: var(--font);
    background-color: var(--background) !important;
    color: var(--foreground) !important; 
}

/* active tab coloring */
.tabbrowser-tab[selected="true"] {
    font-weight: bold !important;
    color: var(--foreground-alt) !important;
    background-image: var(--background) !important;
    background-color: var(--background) !important;
}

/* Back button coloring color */
#back-button:not([disabled="true"]):not([open="true"]):not(:active) .toolbarbutton-icon {
    background-color: var(--background) !important;
    color: var(--foreground) !important;
}

/* --- Customize the context menu --- */
/* Remove all silly margins and set color/font everywhere */
#contentAreaContextMenu *, #placesContext *, .textbox-contextmenu *, #tabContextMenu *, #toolbar-context-menu *{
    -moz-appearance: none !important;
    background-color: var(--background) !important;
    font-family: var(--font);
    margin-left: 0px !important;
    color: var(--foreground) !important;
}

/* Specs for submenus */
menu {
    -moz-appearance: none !important;
    font-family: var(--font) !important;
    color: var(--foreground-alt-alt) !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom-style:solid !important;
    border-bottom-width:1px !important;
    border-color: var(--foreground-alt)
}

/* General menu item specs */
menuitem {
    -moz-appearance: none !important;
    font-family: var(--font) !important;
    color: var(--foreground) !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom-style:solid !important;
    border-bottom-width:1px !important;
    border-color: var(--foreground-alt)
}

/* Fixes silly hovers for context menu items */
menuitem:focus, menu:focus,#PlacesToolbarItems > toolbarbutton:hover {
    -moz-appearance: none !important;
    font-weight:bold !important;
}

#contentAreaContextMenu *, #placesContext *, .textbox-contextmenu *, #tabContextMenu *, #toolbar-context-menu *{
    -moz-appearance: none !important;
    background-color: var(--background) !important;
    color: var(--foreground) !important; 
    font-family: var(--font);
    margin-left: 0px !important;
}

/* Disable some context menu buttons */
#context-back,
#context-forward, 
#context-reload,
#context-stop,
#context-bookmarkpage
{display:none !important; }

/* This affects eg. dropdowns from bookmarks folders, and context menus */
menuitem > * {
    color: var(--foreground) !important;
    background-color: var(--background) !important;
}

/* Hide icons in for booksmarks and a little side container */ 
menuitem image, .menu-accel-container{
    display: none !important;
}


/* --- Customize tabs--- */
.tab-background-start[selected=true]::after,
.tab-background-start[selected=true]::before,
.tab-background-start,
.tab-background-end,
.tab-background-end[selected=true]::after,
.tab-background-end[selected=true]::before,
.tabbrowser-tabs {
    /* Force that these items do not have a minimum height. This is * especially needed for supporting TabMix Plus. */
    min-height: 0px !important;

    /* Make sure that the text is correctly aligned. */
    -moz-box-align: none !important;
}

/* tabs coloring */
.tabbrowser-tab .tab-label { 
    font-family: var(--font);
    color: var(--foreground) !important; 
    background-color: var(--background) !important; 
}

/* active tab coloring */
.tabbrowser-tab[selected="true"], .tab-text.tab-label[selected="true"]{
    font-weight: bold !important;
    color: var(--foreground-alt-alt) !important;
    background-color: var(--) !important;
}

/* hovering tabs */
.tabbrowser-tab:hover{
    background-color: var(--background) !important;
    font-weight: bold !important;
    -moz-appearance: none !important;
}

/* Tabs: no icons */
.tabbrowser-tabs .tab-icon-image { display: none !important; }

/* Needed to make sure that the tab bar will not grow by one pixel
 * if it overflows. */
#TabsToolbar > #alltabs-button,
#TabsToolbar > #new-tab-button,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > * {
    margin-bottom: 0px !important;
}

/* This is the box at the left and right of the tabs. */
#tabbrowser-tabs > .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    -moz-padding-end: 0px !important;
    -moz-padding-start: 0px !important;
}

/* The image of the tabs. */
.tab-throbber,
.tab-icon-image {
    display: none! !important;
}

/* The image of not pinned (normal) tabs. */
.tab-throbber:not([pinned]),
.tab-icon-image:not([pinned]) {
    -moz-margin-end: 0px !important;
}

/* The contents of the tabs. */
.tab-content:not([pinned]) {
}

/* The label which holds the site name. */
.tab-text.tab-label:not([pinned]) {
}

/* The close button of the tab. */
.tab-close-button:not([pinned]) {
    -moz-margin-start: 0px !important;
}

/* --- Bookmarks customization --- */
#PlacesToolbarItems > .bookmark-item {
    min-height: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

/* In bookmark submenus this will be the color of folders */
.menu-iconic.bookmark-item.subviewbutton{
    color: var(--foreground-alt) !important;
}

/* The bookmarks panel when pressing the 'bookmarks button' */
#bookmarksPanel, #historyPanel {
    font-weight: bold !important;
    color: var(--foreground-alt) !important;
    background-image: var(--background) !important;
    background-color: var(--background) !important;

}

/* Toolbar */
#PersonalToolbar > * {
    /* Make sure that all items in the toolbar can become smaller. */
    min-height: 0px !important;
}

/* Bookmarks Toolbar: no icons */
#personal-bookmarks .toolbarbutton-icon, .menu-iconic-left, .openintabs-menuitem { 
    display: none !important; 
}

/* Bookmark items */
.menuitem-iconic.bookmark-item.menuitem-with-favicon{
    -moz-appearance: none !important;
    font-family: var(--font) !important;
    color: var(--foreground) !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom-style:solid !important;
    border-bottom-width:1px !important;
    border-color: var(--foreground-alt)
}

/* Bookmark items hover */
.menuitem-iconic.bookmark-item.menuitem-with-favicon:hover{
    -moz-appearance: none !important;
    font-weight: bold !important;
    background-color: var(--background) !important;
}

/* Removes all the excess padding of the container of dropdown bookmarks */
.box-inherit.scrollbox-innerbox{
    background-color: var(--background) !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
}
#contentAreaContextMenu
#placesContext.menuitem {
    margin: 0px !important;
    padding: 0px !important;
}

/* --- Autocomplete dropdown --- */
.autocomplete-richlistitem {
    font-family: var(--font) !important;
    color: var(--foreground) !important;
    background-color: var(--background) !important;
}

/* selected item using arrow keys */
.autocomplete-richlistitem[selected],
treechildren.searchbar-treebody::-moz-tree-row(selected) {
  background-color: var(--foreground-alt-alt) !important;
}

/* hover effect */
.autocomplete-richlistitem:hover{
    font-weight: bold !important;
}

/* the bow surrounding the items */
.autocomplete-richlistbox {
    background-color: var(--background) !important;
    margin: 0px important;
}
/*
.autocomplete-richlistitem:focused{
    font-weight:bold !important;
}*/

/* urls in autocomplete dropdopwn */
.ac-url-text, .ac-action-text {
    font-family: var(--font) !important;
    color: var(--foreground-alt) !important;
}


/* separator between item and url for autocomplete */
.ac-separator-text{
    font-family: var(--font) !important;
    color: var(--foreground-alt-alt) !important;
}

/* Hide the bottom two bars of autocomplete and bookmark indicator */
.search-panel-one-offs, .search-one-offs, .ac-type-icon {
    display: none !important;
}
